<div class="split right">
    
    <div class="welcome">

        <div class="limiter ">
            <div class="container-login100">
                <div class="wrap-login100 p-t-50 p-b-90">
                    <form class="login100-form validate-form flex-sb flex-w" #signUpForm = "ngForm" (ngSubmit)="onSubmit()" >
                        <span class="login100-form-title p-b-51">
                            Edit User
                        </span>
    
                        <input class="input100" type="hidden" name="user_name" #_id="ngModel" [(ngModel)]="UserService.selectedUser._id" placeholder="_id">
    
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                            <input class="input100" type="text" name="user_name" #user_name="ngModel" [(ngModel)]="UserService.selectedUser.user_name" placeholder="User">
                            <span class="focus-input100"></span>
                        </div>
                                
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Name is required">
                            <input class="input100" type="text" name="name" #name="ngModel" [(ngModel)]="UserService.selectedUser.name" placeholder="Name">
                            <span class="focus-input100"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Surname is required">
                            <input class="input100" type="text" name="sur_name" #sur_name="ngModel" [(ngModel)]="UserService.selectedUser.sur_name" placeholder="Surname">
                            <span class="focus-input100"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                            <input class="input100" type="password" name="password" #password="ngModel" [(ngModel)]="UserService.selectedUser.password" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Carnet is required">
                            <input class="input100" type="text" name="carnet" #carnet="ngModel" [(ngModel)]="UserService.selectedUser.carnet" placeholder="Carnet">
                            <span class="focus-input100"></span>
                        </div>
                        
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Rol is required">
                            <input class="input100" type="text" name="rol" #password="ngModel" [(ngModel)]="UserService.selectedUser.rol" placeholder="Rol">
                            <span class="focus-input100"></span>
                        </div>
    
                        <div class="container-login100-form-btn m-t-17">
                            <button type="submit" class="login100-form-btn">
                                Update
                            </button>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
        
    
        <div id="dropDownSelect1"></div>
        
    <!--===============================================================================================-->
        <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="../../vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="../../vendor/bootstrap/js/popper.js"></script>
        <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="../../vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="../../vendor/daterangepicker/moment.min.js"></script>
        <script src="../../vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="../../vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="../../Scripts/main.js"></script>
    
    
    </div>


  </div>